# Codeowners file
# Each line is a file pattern followed by one or more owners.
# Owners are automatically requested for review on pull requests that change
# matching files. Order matters: the last matching pattern takes precedence.

* @msmbaldwin
